<!-- <div class="animated fadeIn">
  Hello World!
</div> -->


<div class="jumbotron">
  <h1 class="display-3">Hackathon 2017!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>



<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">89.9%</div>
        <div>Lorem ipsum...</div>
        <div class="progress progress-xs my-1">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">12.124</div>
        <div>Lorem ipsum...</div>
        <div class="progress progress-xs my-1">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">$98.111,00</div>
        <div>Lorem ipsum...</div>
        <div class="progress progress-xs my-1">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">2 TB</div>
        <div>Lorem ipsum...</div>
        <div class="progress progress-xs my-1">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->




<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>