<!-- <div class="animated fadeIn">
  Hello World!
</div> -->

<div class="jumbotron" >
  <h1 class="display-3">Hackathon 2017!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	<p><a class="btn btn-primary btn-lg" routerLink="/dashboard" role="button">Learn more &raquo;</a></p>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-12">
	<img src="https://ez.no/var/ezflow_site/storage/images/media/images/hackathon-landing-page-2/657157-2-eng-GB/Hackathon-landing-page-2.png" class="img-fluid rounded mx-auto d-block">
</div></div></div>


